/* styles.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .flex {
    display: flex;
    gap: 1rem;
  }
  
  .input,
  input[type="text"] {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    color: black
  }
  
  .button,
  button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover,
  button:hover {
    background-color: #0056b3;
  }
  
  .list-disc {
    list-style-type: disc;
    margin-left: 1.5rem;
  }
  
  .list-inside {
    list-style-position: inside;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .text-white {
    color: white;
  }
  
  .bg-blue-500 {
    background-color: #007bff;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .text-3xl {
    font-size: 2rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .rounded {
    border-radius: 4px;
  }
  